#pp-register{ display:block; width:100%; height:auto;border: 1px solid #fff;
			background-color:#FFF; border-radius: 5px;font-size: 16px; }
#form-left{width: 49%;float: left;margin-left: 1%;margin-top:20px;}
#form-right{width: 49%;float: left;margin-top:20px; margin-left: 1%;}
.cancel-resgister{background-color:#a02d2f; color: #FFF; height: 30px; width: 70px; margin-top: 10px;}

.errorinput{ font-size: 14px; color:#FF0000;}



#signup-header {
        background: url(../images/hd-bg.png);
        padding: 18px 18px 14px 18px;
        border-bottom: 1px solid #CCC;
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
   }

#signup-header h2 {
    color: #444;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-family: 'PT Sans Narrow', sans-serif;
} 

#signup-header p {
    color: #444;
    font-size: 1.3em;
    font-family: 'PT Sans Narrow', sans-serif;
} 

#fr-register .inputs {
        width: 244px;
        padding: 8px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 1.2em;
        color: #222;
        background: #F7F7F7;
        font-family: 'PT Sans Narrow', sans-serif;
        outline: none;
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #E7E6E6;
        border-bottom: 1px solid #E7E6E6;
    }

      #fr-register .txt-fld label {
	    display: block;
	    float: left;
	    width: 70px;
	    padding-top: 8px;
	    color: #222;
	    font-size: 1.3em;
	    text-align: left;
	    font-family: 'PT Sans Narrow', sans-serif;
	    }
   #fr-register .txt-fld {
        position: relative;
        width: 330px;
        padding-top:20px;
        border-bottom: 1px solid #EEE;
        text-align: right;
    }
  

    #fr-register .txt-fld input  {
        width: 244px;
        padding: 8px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 1.2em;
        color: #222;
        background: #F7F7F7;
        font-family: 'PT Sans Narrow', sans-serif;
        outline: none;
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #E7E6E6;
        border-bottom: 1px solid #E7E6E6;
    }

    #table-history{display: block;}

    #ip-register  table td, #ip-register  table th {
        
        padding: 8px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 1.2em;
        color: #222;
        font-family: 'PT Sans Narrow', sans-serif;
        outline: none;
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #E7E6E6;
        border-bottom: 1px solid #E7E6E6;
    }
    
    
    table caption{font-family: 'PT Sans Narrow', sans-serif;}
    #table-history tr{background: #F7F7F7;}
    #table-history tr:hover {background: green;}
    .fr-registerss{display: none;}

    #signup .txt-fld {
        position: relative;
        width: 364px;
        padding: 14px 20px;
        border-bottom: 1px solid #EEE;
        text-align: right;
    }

    

    #signup .btn-fld {
        width: 254px;
       /* overflow: hidden;*/
        padding: 12px 20px 12px 130px;
    }

    #signup .txt-fld label {
        display: block;
        float: left;
        width: 90px;
        padding-top: 8px;
        color: #222;
        font-size: 1.3em;
        text-align: left;
        font-family: 'PT Sans Narrow', sans-serif;
    }
    
    #signup .txt-fld input,#email-forget,#fr-register .inputs {
        width: 244px;
        padding: 8px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 1.2em;
        color: #222;
        background: #F7F7F7;
        font-family: 'PT Sans Narrow', sans-serif;
        outline: none;
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #E7E6E6;
        border-bottom: 1px solid #E7E6E6;
    }

    #signup  button,#sb-forget {
        /*float: right;*/
        font-family: 'PT Sans Narrow', sans-serif;
        background: #3F9D4A;
        border: none;
        width: auto;
        /*overflow: visible;*/
        font-size: 1.4em;
        color: #FFF;
        padding: 7px 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    }

    #signup form{background-color: #FFF;}
    
    .opacity-body{z-index: 998; background-color: #000; width:100%; height:100%; opacity: 0.5; display: none;position: fixed;}

    .modal_close {
        position: absolute;
        top: 12px;
        right: 12px;
        display: block;
        width: 14px;
        height: 14px;
        background: url(../images/modal_close.png);
        z-index: 2;
    }
